<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset = "utf-8">
    <title>API Project: Exercise Tracker  | Free Code Camp Backend Projects</title>
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      
    <header>
      <h1>API Project: Exercise Tracker</h1>
    </header>
<!--
    <section class="stories">
      <h2>User Stories:</h2>      
      <ol>
	<li>
	  I can POST a URL to <code>[project_url]/api/shorturl/new</code>. If the URL is valid, I will receive a number corresponding to a shortened URL in the the JSON response.
	</li>
	<li>If I pass an invalid URL that does not follow the <code>http(s)://www.example.com(/more/routes)</code> format, the JSON response will display the error <code>{"error": "invalid URL"}</code>.</li>
	<li>After obtaining the number <code>some_number</code> corresponding to the shortened URL in (1), I can now visit the URL at <code>[project_url]/api/shorturl/some_number</code>.</li>
      </ol>
    </section>
    
    <section class="short-url-creator">
      <h2>Try Our URL Microservice Form Below:</h2>
      <form method='POST' action='/api/shorturl/new_url'>
	<label for='form_url'>URL to be turned into number</label>
	<input id='form_url' type='text' name='new_url'>
	<button type='submit'>Submit URL</button>
      </form>
    </section>
    

    <section class="use">
      <h2>Example Usage:</h2>
      <div id="urls">
	<code>[project_url]/api/shorturl/2/<code> will redirect to <code>https://nodejs.org/en/</code>
      </div>
    </section>
-->
    
    </div>
  </body>
</html>
