<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset = "utf-8">
    <title>API Project: Exercise Tracker  | Free Code Camp Backend Projects</title>
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      
    <header>
      <h1>API Project: Exercise Tracker</h1>
    </header>

    <div class="forms">
      <section class="user-creator">
	<!-- Allow users to POST at /api/exercise/new-user in url -->
	<form method="POST" action="/api/exercise/new-user">
	  <p>Create a New user</p>
	  <label for="add_user"><code>POST /api/exercise/new-user</code></label>
	  <br>
	  <!-- body.request.new_user will contain info -->
	  <input id="add_user" type="text" name="new_user" placeholder="username">
	  <br>
	  <button type="submit">Submit</button>
	</form>    
      </section>
    
      <section class="exercise-creator">
	<form method="POST" action="/api/exercise/add">
	  <p>Add Exercises</p>
	  <label><code>POST /api/exercise/add</code></label>
	  <br>
	  <input id="userId" type="text" name="userId" placeholder="userId*">
	  <br>
	  <input id="description" type="text" name="description" placeholder="description*">
	  <br>
	  <input id="duration" type="text" name="duration" placeholder="duration* (mins)">
	  <br>
	  <input id="date" type="text" name="date" placeholder="date (yyyy-mm-dd)">
	  <br>
	  <button type="submit">Submit</button>
	</form>    
      </section>

      <section class="info">
	<p>GET users's exercise log: <code>GET /api/exercise/log?{userId}[&from][&to][&limit]<code></p>
	<p>{ } = required, [ ] = optional</p>
	<p>from, to = dates (yyyy-mm-dd); limit = number</p>
      </section>
    </div>
    
    </div>
  </body>
</html>
