html {
    font-size: 10px;
}

body {
    font-size: 2rem;
    background-color: rgb(215,215,215);/*#d3d3d3;*/
   
}

.container {
    width: 75vw;
    margin: 0 auto 0 auto;
}

h1, h2  {
    text-align: center;
}

#urls, #output {
    text-align: center;
}



form {
    background-color: green;
    padding: 1rem;
    margin: 1rem;
    border: 2px solid black;
    border-radius: 1rem;
    width: 30vw;
}

form p {
    color: white;
}



.forms {
    display: flex;
    justify-content: center;
    background-color: beige;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 2rem;
    padding-top: 2em;
}

form input {
    width: 90%;
    padding: 0.2rem;
}

form label code {
    width: 100%;
}


code {
    background-color: yellow;
}

/* Mobile devices. */
@media (max-width:480px)  { 

    .container {
	width: 90vw;
    }

    form {
	width: 80vw;
    }

    form label code {
	font-size: 1.8rem;
    }
    

}

/*iPads and tablets.*/
@media (max-width:768px)  {

    .container {
	width: 80vw;
    }

    form {
	width: 60vw;
    }

    form label code {
	font-size: 2rem;
    }
    

}
