html {
    font-size: 10px;
}

body {
    font-size: 2rem;
    background-color: rgb(215,215,215);/*#d3d3d3;*/
   
}

.container {
    width: 75vw;
    margin: 0 auto 0 auto;
}

h1, h2  {
    text-align: center;
}

#urls, #output {
    text-align: center;
}

code {
    background-color: yellow;
}

form {
    background-color: green;
    padding: 1rem;
    margin: 1rem;
    border: 2px solid black;
    border-radius: 1rem;
    width: 30vw;
}

form p {
    color: white;
}
form label {
    background-color: yellow;
}

.forms {
    display: flex;
    justify-content: center;
    background-color: beige;
    flex-wrap: wrap;
}



